<table class="table table-striped" style="font-size: 1.2em;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <% if @user.id == current_user.id %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user_stocks.each do |us| %>
      <tr>
        <td><%= us.name %></td>
        <td><%= us.ticker %></td>
        <td><%= number_to_currency(us.last_price, precision: 2, strip_insignificant_zeros: false) %></td>
        <% if @user.id == current_user.id %>
          <td><%= link_to "Delete this stock", user_stock_path(us), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
