<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
  <div class="well results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Company: </strong><%= @stock.name %>
    <strong>Price: </strong><%= number_to_currency(@stock.last_price, precision: 2, strip_insignificant_zeros: false) %>
    <% if current_user.can_add_stock?(@stock.ticker) %>
      <%= link_to "Add to my stock", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: "btn btn-sm btn-success", style: "margin-left: 30px;", method: :post %>
    <% else %>

      <span class="label label-default">
        Stock cannot be added because you have already added
        <% if !current_user.under_stock_limit? %>
          10 stocks
        <% end %>
        <% if current_user.stock_already_added?(@stock.ticker) %>
          this stock
        <% end %>
      </span>

    <% end %>
  </div>
<% end %>
