<%= render "friends/lookup" %>
<% if @friendships.size > 0 %>
  <%#= render "friends/list" %>
  <table class="table table-striped" style="font-size: 1.2em;">
    <thead>
      <tr>
        <th colspan="3" class="page-header">
          <h2>My Friends</h2>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friendships.each do |friend| %>
        <tr>
          <td><%= friend.full_name %></td>
          <td><%= friend.email %></td>
          <td>
            <%= link_to "View profile", user_path(friend), class: "btn btn-primary btn-success" %>
            <%= link_to "Remove friend", friendship_path(friend), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger", style: "font-size: 0.8em; padding: 0.42em 10px;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


<% else %>
  <div class="row col-lg-12">
    <p>You don't have any friends yet. Please add some.</p>
  </div>
<% end %>
