/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_devise_bootstrap_views
 *= require_self
 *= require_tree .
*/

@import "font-awesome";

.logout {
  padding-left: 0;
  margin-top: 7px;
}
.user-name {
  padding-top: 15px;
}
.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.search-box {
  text-transform: uppercase;
}

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}
